# General system files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# Environment
.env
.env.local
.env.*.local
.env.backend
.env.frontend
.envrc
/.envrc
