[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "*"
requests = "*"
psycopg2 = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
